{% extends 'base.html.twig' %}

{% block title %}O łowisku{% endblock %}

{% block content %}
<div class="container col-lg-6 offset-lg-3">
    <h1 class="text-center p-3 font-weight-bold">O łowisku</h1>
    <div class="col-lg-12 bg-light text-body border border-dark p-3 mb-3">
        <p style="text-align:justify">&nbsp; Staw wędkarski Ranczo Nad Jeziorkiem to ciche i spokojne miejsce, kt&oacute;re jest istną gratką dla wędkarzy. Położony pomiędzy lasami i jednocześnie blisko Rzeszowa oraz Łańcuta w Czarnej akwen o głębokości do 8m, kt&oacute;ry oferuje w przybliżeniu aż 5 ha gęsto zarybionej wody.</p>

        <p style="text-align:justify">Specjalne zadaszone stanowiska wędkarskie <strong>wyposażone w ławki oraz stolik</strong>, pozwalają łowić nawet w czasie deszczu. W czystych wodach łowiska spotkamy r&oacute;żnorodne gatunki ryb: <strong>karp(do 15kg), amur, leszcz, lin, sum(do 2 metr&oacute;w długości), sandacz, jesiotr(okazy około p&oacute;łtora metrowe), szczupak, tołpyga(ostatnia wyciągnięta sztuka ważyła 25kg) i inne</strong>.</p>

        <p style="text-align:justify">Co bardzo ważne, możemy państwu zaoferować wszystkie potrzebne wędkarzowi rzeczy w naszym <strong>SKLEPIE WĘDKARSKIM </strong>przy stawie. Nie muszą państwo już martwić się o przynęty oraz podstawowe wyposażenie, ponieważ dostaniecie je na miejscu.</p>

        <p style="text-align:justify"><strong>Opłata za wędkowanie to jedynie 15 zł od wędki. Łowisko jest czynne od świtu do nocy.</strong> Życzymy udanego wędkowania!</p>
        <div class="text-center col-12">
            <h1 class="text-center p-3 font-weight-bold">Jak dojechać?</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3617.951973369767!2d22.158561953794887!3d50.118512699925716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473cef4f7c283a8d%3A0x7c8b429b168d488!2s37-125%20Czarna!5e0!3m2!1spl!2spl!4v1649072010339!5m2!1spl!2spl" width="400" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
{% endblock %}
