{% extends 'base.html.twig' %}

{% block title %}Regulamin łowiska{% endblock %}

{% block content %}

<div class="container col-lg-6 offset-lg-3">
    <h1 class="text-center p-3 font-weight-bold">Regulamin łowiska ,,Ranczo nad jeziorkiem''</h1>
    <div class="col-lg-12 bg-light text-body border border-dark p-3 mb-3">
        <p style="text-align:justify">1. Łowisko jest czynne przez cały rok od świtu do zmierzchu.</p>

        <p style="text-align:justify">2. Do korzystania z łowiska nie jest wymagana karta Polskiego Związku Wędkarskiego.</p>

        <p style="text-align:justify">3. Obowiązkowo należy posiadać ze sobą matę karpiową, wypychacz oraz podbierak (o rozstawie ramion minimum 60x60cm), zaleca się r&oacute;wnież posiadanie środka dezynfekującego rany ryby po haczyku. Obsługa łowiska ma prawo w każdej chwili sprawdzić posiadanie wyżej wymienionego wyposażenia.</p>

        <p style="text-align:justify">4. Zabrania się łowienia bez podbieraka, maty oraz wypychacza.</p>

        <p style="text-align:justify">5. Osoby nie posiadające wyposażenia wymienionego w pkt. 3 będą w trybie natychmiastowym wypraszane z łowiska.</p>

        <p style="text-align:justify">6. Obowiązuje bezwzględny zakaz zabijania i zabierania ryb, wymagane jest stosowanie zasady &bdquo;Zł&oacute;w i Wypuść&rdquo;.</p>

        <p style="text-align:justify">7. Opłaty wędkarskie (w wysokości 15 zł/jedna wędka) realizuje się w sklepie wędkarskim lub u osoby dozorującej łowisko (obowiązek zachowania paragonu do kontroli).</p>

        <p style="text-align:justify">8. Możliwość wykupienia karnet&oacute;w miesięcznych, kwartalnych lub rocznych.</p>

        <p style="text-align:justify">9. W weekendy oraz święta istnieje możliwość wcześniejszej rezerwacji zadaszonego stanowiska. Wszelkie informacje pod numerem 694-747-032.</p>

        <p style="text-align:justify">* Zgodnie z rozporządzeniem RODO z dnia 25 maja 2018r. informujemy, że Osoba kontaktująca się z numerem łowiska w celu rezerwacji jednocześnie zgadza się na zapisanie przez osobę prowadzącą rezerwacje numeru telefonu oraz imienia i nazwiska osoby, kt&oacute;ra ubiega się o rezerwacje.</p>

        <p style="text-align:justify">10. Teren łowiska jest monitorowany przez całą dobę, zatem osoby kt&oacute;re zdecydują się przebywać na naszym łowisku tym samym wyrażają zgodę na nagrywanie swoich zachowań. Dane uzyskane z monitoringu wykorzystywane będą jedynie przeciwko osobom naruszającym postanowienia regulaminu łowiska.</p>

        <p style="text-align:justify">11. Wszystkie złowione ryby należy w jak najlepszej kondycji wypuścić z powrotem do wody. Należy obchodzić się z nimi w spos&oacute;b bardzo delikatny dbając o ich zdrowie i bezpieczeństwo, należy polewać je wodą. Złowione okazy można zważyć i wykonać sesje zdjęciową, kt&oacute;ra nie może trwać dłużej niż 5 minut.</p>

        <p style="text-align:justify">12. Sesja zdjęciowa ze złowionym okazem powinna odbyć się w pozycji kucającej, trzymając złowioną rybę tuż nad matą.</p>

        <p style="text-align:justify">13. W przypadku kradzieży ryby z łowiska właściciel ma prawo do przeprowadzenia kontroli. Osobie, kt&oacute;ra dopuści się kradzieży naliczona zostanie kara w wysokości 100 zł za każdy kilogram ryby (nie mniej niż 500 zł za rybę), natomiast w przypadku okaz&oacute;w liczących powyżej 10 kg nie mniej niż 2000 zł. Osoba dopuszczająca się kradzieży zobowiązana jest do natychmiastowego opuszczenia łowiska. R&oacute;wnocześnie osobę taką obowiązuje w przyszłości całkowity zakaz wstępu na łowisko.</p>

        <p style="text-align:justify">14. W przypadku podejrzenia kradzieży właściciel lub osoba upoważniona zastrzega sobie prawo do kontroli.</p>

        <p style="text-align:justify">15. Wszystkie przypadki kradzieży ryb, kłusownictwa na łowisku, kradzieży mienia lub jego niszczenia zgłaszane będą do organ&oacute;w ścigania. Szkody wyrządzone właścicielowi w wyniku takiego postępowania dochodzone będą w postępowaniu cywilnym przed sądem.</p>

        <p style="text-align:justify">16. Przetrzymywanie ryb w workach karpiowych jest zabronione z wyłączeniem zawod&oacute;w wędkarskich po wcześniejszym uzgodnieniu.</p>

        <p style="text-align:justify">17. W przypadku stwierdzenia, że ryba ucierpiała w trakcie połowu i po wypuszczeniu do wody mogłaby nie przeżyć, należy taki fakt natychmiast zgłosić obsłudze. Gdy wędkarz poprzez swoje działanie doprowadzi do śnięcia ryby, zobowiązany jest do uiszczenia dodatkowej opłaty naliczanej według wagi śniętej ryby.</p>

        <p style="text-align:justify">18. Zakazuje się używania środk&oacute;w pływających w postaci ponton&oacute;w. Łowienie odbywa się wyłącznie z brzegu. Dozwolone są tylko modele zdalnie sterowane z brzegu.</p>

        <p style="text-align:justify">19. Dopuszcza się nęcenie łowiska wszelkimi zanętami karpiowymi (kulki proteinowe, pellet, ziarna, orzechy), kt&oacute;re są świeże i nie powodują zagrożenia dla ryb i środowiska. W żadnym przypadku nie wolno wrzucać zepsutej zanęty do wody.</p>

        <p style="text-align:justify">20. Na łowisku obowiązuje zakaz połowu na kotwice oraz na żywca.</p>

        <p style="text-align:justify">21. W trakcie przebywania na łowisku zabronione jest:</p>

        <ul>
            <li style="text-align:justify">łowienia ryb ze sprzętu pływackiego</li>
            <li style="text-align:justify">układaniu złowionych ryb na trawie, piasku</li>
            <li style="text-align:justify">stosowanie zamiennik&oacute;w maty tj. karimaty, work&oacute;w foliowych itd.</li>
            <li style="text-align:justify">kąpieli w stawie</li>
            <li style="text-align:justify">zanieczyszczanie i zaśmiecanie łowiska</li>
            <li style="text-align:justify">niszczenie zieleni i przyrody oraz infrastruktury rybackiej i turystycznej</li>
        </ul>

        <p style="text-align:justify">22. Właściciel łowiska zastrzega sobie w uzasadnionych sytuacjach prawo wyłączenia w danym dniu z wędkowania i zwiedzania części łowiska powiadamiając o tym przez ogłoszenie na łowisku i stronie internetowej.</p>

        <p style="text-align:justify">23. Na zbiorniku gł&oacute;wnym jest wyłączona część prywatna przeznaczona dla właścicieli (duża altana, mała altana, dom z bali oraz plaża), w kt&oacute;rej uprasza się o osoby z zewnątrz o nie korzystanie z tego obszaru pozwalając tym samym na odpoczynek i odrobinę prywatności właścicielom łowiska.</p>

        <p style="text-align:justify">24. Ogniska można palić jedynie w miejscach wyznaczonych przez właścicieli oraz na udostępnionych grillach lub własnych.</p>

        <p style="text-align:justify">25. Nie ma przeciwwskazań do przebywania psa zabranego przez wędkarza lub osobę towarzyszącą pod warunkiem że nie jest on agresywny, posiada kaganiec, nie ujada oraz bierze się za niego pełną odpowiedzialność włączając w to ponoszenie ewentualnych wyrządzonych przez niego szk&oacute;d.</p>

        <p style="text-align:justify">26. Łowisko nie bierze odpowiedzialności za szkody wyrządzone przez psa (lub inne zwierzę) towarzyszącego osobie odwiedzającej nasze zbiorniki jeśli w wyniku jego działań zostanie wyrządzona szkoda lub uszczerbek na zdrowiu osobom trzecim.</p>

        <p style="text-align:justify">27. Obowiązuje zakaz wstępu i przebywania na łowisku os&oacute;b nietrzeźwych lub znajdujących się pod wpływem środk&oacute;w odurzających.</p>

        <p style="text-align:justify">28. Dzieci i osoby niepełnoletnie mogą przebywać na terenie łowiska wyłącznie pod opieką os&oacute;b dorosłych.</p>

        <p style="text-align:justify">29. Dzieci mogą wędkować tylko pod opieką dorosłych.</p>

        <p style="text-align:justify">30. Właściciel łowiska nie ponosi odpowiedzialności za osoby nieletnie pozostawione bez opieki na terenie łowiska.</p>

        <p style="text-align:justify">31. Właściciel łowiska nie odpowiada za zgubione lub pozostawione mienie os&oacute;b przebywających na łowisku oraz nie bierze odpowiedzialności za wypadki losowe.</p>

        <p style="text-align:justify">32. Korzystający z łowiska zobowiązuje się do przestrzegania przepis&oacute;w przeciwpożarowych, i zasad BHP oraz innych regulamin&oacute;w i przepis&oacute;w, w tym związanych z ochroną przyrody i rybactwem śr&oacute;dlądowym.</p>

        <p style="text-align:justify">33. Korzystający z łowiska odpowiada finansowo za wszelkie wyrządzone szkody w przyrodzie oraz mieniu przedsiębiorstwa.</p>

        <p style="text-align:justify">34. Właściciel łowiska zastrzega sobie możliwość wprowadzenia zmian w niniejszym regulaminie w każdym momencie. W przypadku wprowadzenia zmian właściciel łowiska każdorazowo udostępni ujednolicony tekst zmienionego regulaminu na tablicy informacyjnej oraz na swojej stronie internetowej.</p>

        <p style="text-align:justify">35. W sprawach nieuregulowanych w niniejszym regulaminie mają zastosowanie przepisy kodeksu cywilnego.</p>

        <p style="text-align:justify">36. Nie zapoznanie się z niniejszym regulaminem nie zwalnia korzystającego z łowiska od jego przestrzegania.</p>

        <p style="text-align:justify">37. Korzystający z łowiska i łamiący niniejszy regulamin zostanie wydalony z terenu łowiska bez zwrotu opłat i bez możliwości ponownego wejścia. Dotyczy to także os&oacute;b towarzyszących.</p>

        <p style="text-align:justify">Sprawy nie opisane w niniejszym regulaminie należy konsultować z właścicielem.</p>

    </div>
</div>



{% endblock %}
